:root {
  --bg-color: #000000;
  --dot-color: #5c2d91;
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}